.main-video-container {
  width: 100%;
  height: 100%;

  .carrusel-container {
    position: relative;
    height: 100%;

    .lateralControlHidden {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 32px;
      color: transparent;
      z-index: 1;
    }

    .leftArrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 32px;
      font-size: 50px;
      font-weight: 700;
      color: #fff;
      z-index: 1;
      cursor: pointer;
    }

    .rightArrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 32px;
      font-size: 50px;
      font-weight: 700;
      color: #fff;
      z-index: 1;
      cursor: pointer;
    }

    .container-videos-list {
      width: 100%;
      height: 100%;

      ul,
      ul li {
        height: 100%;
        width: 100%;
        list-style: none;
        white-space: nowrap;
      }
      li {
        display: inline;
      }
    }
    .control-container {
      width: 100%;
      margin-top: -3em;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      z-index: 20;

      .control-container-item {
        margin: 8px 3px;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        width: 30px;
        height: 2px;
        background-color: var(--secondaryColor);
        border-radius: 20px;
      }
      .active {
        padding: 1px;
        background-color: var(--primaryColor);
      }
    }
  }
}
