@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primaryColor: #a48451;
  --secondaryColor: #1d2222;

  --primaryBackgroundColor: #2b2b2a;
  --secondaryBackgroundColor: #404040;

  --cardBackgroundColor: #E9E9EA;

  --primaryFontColor: #f1f5f9;
  --secondaryFontColor: #707070;

  --defaultWhite: #fff;
  --defaultDark: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Lucida Sans", Geneva, Verdana, sans-serif;
}